<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/public/style.css">

  <script src="/public/script.js"></script>


  <title>Relatorio Generico</title>
</head>

<body>
  {{{body}}}
</body>

</html>
